attrs==21.2.0
autopep8==1.5.7
certifi==2021.5.30
charset-normalizer==2.0.2
click==8.0.1
Flask==2.0.1
Flask-PyMongo==2.3.0
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pymongo==3.11.4
pyparsing==2.4.7
pytest==6.2.4
requests==2.26.0
toml==0.10.2
urllib3==1.26.6
vaderSentiment==3.3.2
Werkzeug==2.0.1
