$primary-dark: #7400b8;
$primary: #6930c3;
$primary-light: #5e60ce;
$accent: #80ffdb;

@font-face {
  font-family: "RobotoSlab";
  src: url("/assets/fonts/RobotoSlab.ttf");
}

h1,h2,h3,h4,h5,h6,p,span,a {
  font-family: "RobotoSlab";
}

h4 {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem !important;
}

.icon {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  transition: opacity 0.3s;
}

#top {
  min-height: 88vh;
  color: white;
  background:
        linear-gradient(to left top, $primary-light 0%, $primary 50%, $primary-dark 100% ),
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.button {
  color: $primary !important;
  border-color: $primary !important;
  background-color: white !important;
  &:hover {
    color: white !important;
    background-color: $primary !important;
  }
  &--active {
    color: white !important;
    background-color: $primary !important;
  }
}

.horizontal-scrollable {
    overflow-x: auto;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  background-color: $primary;

}

.navbar--hidden {
    background-color: rgba(0,0,0,0);
}

.active-timeframe {
  $background-color: $primary-light !important;
}



.stock {
    background: rgba( 33, 150, 243, 0.05 );
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease;
    min-height: 80vh;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.0px );
    -webkit-backdrop-filter: blur( 8.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.selected {
  background-color: rgba(105, 48, 195, 0.2);
}

.main-text {
    width: 10.5ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

tr.stock-table-header th {
  width: 15%;
  cursor: pointer;
}

tr.stock-table-header th.long {
  width: 20%;
}

.glass-card {
    box-shadow: 0 0 8px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    @media(max-width:767px) {
      border-radius: 0px;
      box-shadow: 0 0 0 0 rgba( 31, 38, 135, 0.37 );
    }
}



#navbar {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.5s;
}