@import "../../styles/_variables.scss";

.btn {
    background-color: $primary;
    color: white;
}

.btn:hover {
    color: white;
    background-color: $primary-dark;
}

.btn:focus {
    outline: none;
}