@import "../../styles/_variables.scss";

%button-shared {
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.button {
    @extend %button-shared;
    background-color: $background-dark !important;

    &:hover {
        @extend %button-shared;
        background-color: $primary !important;
    }

    &--active {
        @extend %button-shared;
        background-color: $primary !important;
    }
}